<div class="card col-md-12">
    <div class="card-body">
        <form [formGroup]="Formulario">
            <div class="form-group row">
                <label for="mensaje" class="col-sm-2 col-form-label">Mensaje (M)</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="mensaje" placeholder="Y va el tercero, y va el tercero...">
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-sm btn-primary" (click)="cifrar()" [disabled]="!Formulario.valid">Cifrar (C=M*k)</button>
                </div>
            </div>
            <div class="form-group row">
                <label for="cifrado" class="col-sm-2 col-form-label">Matriz a Descifrar (C)</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" (click)="cifrar()" formControlName="mensajeADescifrar" placeholder="1826,759,840,178,0,0">
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-sm btn-primary" (click)="descifrar()">Descifrar (M=C*k^-1)</button>
                </div>
            </div>
        </form>
        <app-matriz [matriz]="clave" header="Clave (K)" *ngIf="clave.length>0"></app-matriz>
        <app-matriz [matriz]="producto" header="Mensaje cifrado" *ngIf="producto.length>0"></app-matriz>

    </div>
</div>
<div class="col-md-6 offset-md-3">
  <div class="card">
    <div class="card-header bg-primary text-white">Mensaje Descifrado</div>
    <div class="card-body">
      <h3>{{ mensajeDescifrado }}</h3>
    </div>
  </div>
</div>