<div class="card col-md-6">
    <div class="card-body">
        <form [formGroup]="Formulario">
            <div class="form-group row">
                <label for="mensaje" class="col-sm-2 col-form-label">Mensaje (M)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" formControlName="mensaje" placeholder="MENSAJE DE EJEMPLO">
                </div>
            </div>
            <div class="form-group row">
                <label for="mensajeCifrado" class="col-sm-2 col-form-label">Mensaje Ascii</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" formControlName="mensajeAscii" 
                        placeholder="13 5 14 19 1 10 5 28 4 5 28 5 10 5 13 16 12 15">
                </div>
            </div>
            <div class="form-group row">
                <label for="clave" class="col-sm-2 col-form-label">Clave (K)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" formControlName="clave" placeholder="2 0 0 4 3 0 16 6 10">
                </div>
            </div>
            <div class="form-group row">
                <label for="cifrado" class="col-sm-2 col-form-label">Cifrado (C)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" formControlName="cifrado" 
                    placeholder="270 99 140 202 63 100 186 108 40 202 114 50 248 93 130 320">
                </div>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" (click)="cifrar()">Cifrar (C=M*k)</button>
                <button type="button" class="btn btn-secondary" (click)="descifrar()">Descifrar (M=C*k^-1)</button>
            </div>
        </form>
    </div>
</div>
<div class="card col-md-6">
  <h3>Formulario</h3>
  {{Formulario.value | json}}
</div>
<div class="card col-md-6">
  <h3>matriz</h3>
  {{matriz | json}}
</div>
<div class="card col-md-6">
  <h3>producto</h3>
  {{producto | json}}
</div>
<div class="card col-md-6">
  <h3>clave</h3>
  {{clave | json}}
</div>
<div class="card col-md-6">
  <h3>clave inversa</h3>
  {{claveInversa | json}}
</div>